<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>버튼</title>
    <link rel="preload" href="/font/pretendardvariable.css" as="style" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <script type="module" src="/src/main.ts"></script>
  </head>
  <body class="font-pretendard">
    <fieldset class="border-1 m-6 p-6">
      <legend class="ml-4">버튼 컴포넌트 button 태그</legend>
      <div class="button-groups">
        <button type="button" class="btn btn-disabled">비활성 버튼</button>
        <button type="button" class="btn btn-active">활성화 버튼</button>
      </div>
    </fieldset>
    <fieldset class="border-1 m-6 p-6">
      <legend class="ml-4">버튼 컴포넌트 a 태그</legend>
      <div class="button-groups">
        <a href="#void" class="btn btn-disabled">비활성 버튼</a>
        <a href="#void" class="btn btn-active">활성화 버튼</a>
      </div>
    </fieldset>
  </body>
</html>
