<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>score table 컴포넌트 | A13C</title>
    <link rel="icon" type="image/svg+xml" href="/public/logo.webp" />
    <link rel="preload" href="/font/pretendardvariable.css" as="style" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.ts"></script>
    <script
      type="module"
      src="/src/components/score-table/score-table.ts"
    ></script>
    <script type="module" src="/src/components/score-table/test.ts"></script>
    <script src="https://fesp-api.koyeb.app/socket.io/socket.io.js"></script>
  </head>
  <body
    class="flex flex-col p-20 h-screen gap-10 text-white bg-[var(--main-color)]"
  >
    <div class="relative inline-flex w-fit group">
      <!-- 버튼 -->
      <button
        class="bg-[#9E844F] text-white font-semibold px-4 py-2 rounded-[30px]"
        id="show-button"
      >
        승점 확인
      </button>

      <!-- 호버 시 -->
      <div
        class="absolute top-full left-0 mt-2 hidden group-hover:block z-10"
        id="score-tables"
      >
        <!-- 라운드 별 우승자 테이블 -->
        <table
          class="table-auto w-[26.875rem] border border-[#9E844F] text-white bg-[rgba(29,28,30,0.7)]"
        >
          <thead>
            <tr>
              <th colspan="3" class="text-center text-lg pt-5">
                라운드 별 우승자
              </th>
            </tr>
            <tr>
              <th class="px-6 py-3">라운드</th>
              <th class="px-6 py-3">닉네임</th>
              <th class="px-6 py-3">승점</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="px-6 py-3 text-center">1</td>
              <td class="px-6 py-3 text-center">
                <div class="max-w-[80px] truncate mx-auto">apple</div>
              </td>
              <td class="px-6 py-3 text-center">1점</td>
            </tr>
            <tr>
              <td class="px-6 py-3 text-center">2</td>
              <td class="px-6 py-3 text-center">
                <div class="max-w-[80px] truncate mx-auto">banana</div>
              </td>
              <td class="px-6 py-3 text-center">2점</td>
            </tr>
            <tr>
              <td class="px-6 py-3 text-center">3</td>
              <td class="px-6 py-3 text-center">
                <div class="max-w-[80px] truncate mx-auto">pineapple</div>
              </td>
              <td class="px-6 py-3 text-center">2점</td>
            </tr>
            <tr>
              <td class="px-6 py-3 text-center">4</td>
              <td class="px-6 py-3 text-center">
                <div class="max-w-[80px] truncate mx-auto">notebook</div>
              </td>
              <td class="px-6 py-3 text-center">2점</td>
            </tr>
            <tr>
              <td class="px-6 py-3 text-center">5</td>
              <td class="px-6 py-3 text-center">
                <div class="max-w-[80px] truncate mx-auto">refrigerator</div>
              </td>
              <td class="px-6 py-3 text-center">2점</td>
            </tr>
            <!-- 밑 여백을 위한 빈칸 -->
            <tr>
              <th colspan="3" class="text-center text-lg pt-2.5"></th>
            </tr>
          </tbody>
        </table>

        <!-- 누적 승점 테이블 -->
        <table
          class="table-auto w-[26.875rem] mt-2 border border-[#9E844F] text-white bg-[rgba(29,28,30,0.7)]"
        >
          <thead>
            <tr>
              <th colspan="5" class="text-center text-lg pt-5">누적 승점</th>
            </tr>
            <tr>
              <th class="px-4 py-2 max-w-[90px] truncate">apple</th>
              <th class="px-4 py-2 max-w-[90px] truncate">banana</th>
              <th class="px-4 py-2 max-w-[90px] truncate">pineapple</th>
              <th class="px-4 py-2 max-w-[90px] truncate">notebook</th>
              <th class="px-4 py-2 max-w-[90px] truncate">refrigerator</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="px-4 py-2 text-center">5</td>
              <td class="px-4 py-2 text-center">10</td>
              <td class="px-4 py-2 text-center">8</td>
              <td class="px-4 py-2 text-center">7</td>
              <td class="px-4 py-2 text-center">2</td>
            </tr>
            <!-- 밑 여백을 위한 빈칸 -->
            <tr>
              <th colspan="3" class="text-center text-lg pt-2.5"></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- 테스트용 -->
    <h1 class="text-2xl">채팅</h1>
    <input type="text" name="userId" placeholder="사용자 아이디" /><br />
    <input type="text" name="roomId" placeholder="생성할 채팅방 아이디" />
    <input type="text" name="roomName" placeholder="채팅방 이름" />
    <button id="createRoomBtn" class="border border-red-300">채팅방 생성</button
    ><br />
    <br />
    <input type="text" name="enterRoomId" placeholder="채팅방 아이디" />
    <input type="text" name="nickName" placeholder="사용자 닉네임" />
    <button id="joinRoomBtn" class="border border-red-300">채팅방 입장</button>
    <button id="leaveRoomBtn" class="border border-red-300">
      채팅방 나가기
    </button>
    <br />
    <p class="text-white text-xl absolute right-75 top-1/20">
      방 이름:<span id="connectedRoom" class="text-white pl-2"></span>
    </p>

    <!-- 화면에 띄울 채팅 공간 -->
    <div
      class="text-black mt-2 w-3xs h-[650px] bg-white/70 rounded-2xl p-4 fixed right-5 top-1/2 -translate-y-1/2"
    >
      <div class="addChat overflow-y-auto h-[580px] pr-2">
        <!-- 메시지 여기에 추가됨 -->
      </div>
      <div
        class="w-[230px] h-8 mt-4 space-x-2 absolute bottom-5 bg-white rounded-lg"
      >
        <input
          type="text"
          name="message"
          placeholder="메시지 입력"
          class="ml-3 relative top-1"
        />
        <button id="sendBtn" class="relative top-1">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.8565 2.59993L3.07739 6.49743L6.66842 8.57586L9.83487 5.40856C9.99549 5.24805 10.2133 5.15792 10.4404 5.158C10.6675 5.15808 10.8852 5.24836 11.0457 5.40899C11.2062 5.56961 11.2964 5.78742 11.2963 6.0145C11.2962 6.24158 11.2059 6.45933 11.0453 6.61984L7.87799 9.78714L9.95813 13.3773L13.8565 2.59993ZM14.133 0.679006C15.1559 0.308346 16.1472 1.29963 15.7766 2.32258L11.255 14.8249C10.8835 15.8504 9.48304 15.9754 8.93604 15.0312L6.1822 10.2734L1.4244 7.51952C0.480197 6.97252 0.605178 5.57206 1.6307 5.20054L14.133 0.679006Z"
              fill="#111111"
            />
          </svg>
        </button>
      </div>
    </div>

    <!-- 방 목록 -->
    <div
      class="room-list-container w-full max-w-2xl mx-auto mt-8 bg-gray-200/80 p-6 rounded-lg shadow-lg"
    >
      <table class="table-auto w-full text-left border-collapse">
        <thead class="">
          <!-- bg-gray-700 text-white -->

          <tr>
            <th>번호</th>
            <th>방 이름</th>
            <th>참여 인원</th>
            <th>게임 진행 여부</th>
          </tr>
        </thead>
        <tbody id="roomList">
          <!-- 방 만들기 추가 되면 여기에 배치됨 -->
        </tbody>
      </table>
    </div>
  </body>
</html>
